<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template is working</title>
</head>
<body>
<form action="/removepunc" method="get">
    <h2>Enter the text here:</h2>
  <textarea name="text" style="width: 1290px; height: 157px;"> </textarea>
    <br>
    <input type="checkbox" name="removepunc" id="removepunc">Remove punctuations
    <br>
    <input type="checkbox" name="caps" id="caps"> Full caps
     <input type="checkbox" name="newlineremover" id="newlineremover"> New line remover
    <br><br>
    <input type="submit" value="Analyze"></input>
</form>
</body>
</html>